.menu-sec {
    display: flex;
    margin-left: 200px;
    margin-top: 50px;

}

.logo img {
    width: 200px;
    margin-right: 400px;
}

.menu-ber li {
    display: inline;
    font-size: 30px;
    margin-left: 90px;
    font-weight: bold;
}

.menu-pic img {
    width: 50px;
    margin-left: 200px;
    margin-top: 10px;

}

.main-section {
    display: flex;
    margin-left: 200px;

}

.second-pera h1 {
    font-size: 60px;
    margin-bottom: 100px;
    margin-top: 220px;
}

.second-pera a {
    text-decoration: none;
    font-size: 25px;
    border: 0px solid tomato;
    background-image: linear-gradient(tomato, orange);
    border-radius: 15px;
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    box-shadow: 10px 10px 20px gray;
}

.second-pera a:hover {
    box-shadow: 9px 9px 40px orange;

}

.food-plat img {
    width: 90%;

}

#thumble {
    position: absolute;
    width: 280px;
    left: 0;
    bottom: 10px;
    margin-left: 1000px;
    margin-bottom: 30px;
}